.main-menu .main-menu__list>li.current-menu-parent>a,
.main-menu .main-menu__list>li:hover>a, 
.stricky-header .main-menu__list>li.current-menu-parent>a,
.stricky-header .main-menu__list>li:hover>a {
    color: var(--tanspot-base);
}

.main-menu .main-menu__list>li.current-menu-parent>a::before, .main-menu .main-menu__list>li:hover>a::before, .stricky-header .main-menu__list>li.current-menu-parent>a::before, .stricky-header .main-menu__list>li:hover>a::before {
    transform: scale(1, 1);
    transform-origin: right center;
}

.main-menu .main-menu__list li.menu-item-has-children li.current-menu-item a{
    color: rgba(var(--tanspot-base-rgb), 1.0);
    padding-left: 5px;
}

.main-menu .main-menu__list li.menu-item-has-children li.current-menu-item a::before {
    transform: translateY(-50%) scale(1);
}

.main-menu .main-menu__list>li.menu-item-has-children>a {
    padding-right: 15px;
}


.main-menu .main-menu__list>li.menu-item-has-children>a:after {
    position: absolute;
    top: 56%;
    right: 0;
    font-family: "Font Awesome 5 Pro";
    content: "\f107";
    font-size: 14px;
    color: var(--tanspot-black);
    transform: translateY(-50%);
    font-weight: 400;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
}

 .main-menu .main-menu__list>li:hover>a::after, .stricky-header .stricky-header .main-menu__list>li:hover>a::after {
    color: var(--tanspot-base);
}

.main-menu .main-menu__list>li.menu-item-has-children.current-menu-item>a:after,
.main-menu .main-menu__list>li.menu-item-has-children.current-menu-parent>a:after{
 color: var(--tanspot-base);
}


